<% include ./partials/header.ejs %>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 ><%= partner.name %></h4>
                <img class="img partnerimage" src="<%= partner.image %>">
                <p ><strong>voordeel:</strong> <%= partner.voordeel %></p>
                <p ><strong>voorstuk:</strong> <%= partner.codes.voorstuk %></p>
                <p ><strong>codes:</strong> <%= partner.codes.voorstuk %></p>
                
                <a class="btn btn-sm btn-warning btnWrapper" href="/partners/<%= partner._id %>/edit">edit</a>
                
                <form class="btnWrapper" method="POST" action="/partners/<%= partner._id %>/addcodes?_method=PUT" >
                    <input type="Submit" class="btn btn-sm btn-info" value="Add">
                    <input class="smallInput" type="text" name="aantalCodes" placeholder="#codes">
                </form>
                
                <form class="btnWrapper" method="POST" action="/partners/<%= partner._id %>?_method=DELETE" >
                    <input type="Submit" class="btn btn-sm btn-danger" value="Delete" onclick="return confirm('Partner verwijderen?')">
                </form>
                
            </div>
             <div class="col-md-2">          
                <table class="table">
                    <thead>
                        <tr><strong>Ongeclaimde codes</strong></tr>
                    </thead>
                    <tbody>
                        <% partner.codes.ongeclaimd.forEach(function(ongeclaimd){  %>
                        <tr>
                            <td><%= ongeclaimd %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>   
            </div>
            <div class="col-md-2">          
                <table class="table">
                    <thead>
                        <tr><strong>Geclaimde codes</strong></tr>
                    </thead>
                    <tbody>
                        <% partner.codes.geclaimd.forEach(function(ongeclaimd){  %>
                        <tr>
                            <td><%= ongeclaimd %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>        
                        
                        
                        
                
            </div>
        </div> 
    </div>

<% include ./partials/footer.ejs %>