<% include ./partials/header.ejs %>

    <div class="container">
       <div class="row" style="display:flex; flex-wrap: wrap;">
            <% partners.forEach(function(partner){ %>
                <div class="col-md-4 col-sm-6">
                    <div id="partner-thumbnail" class="thumbnail animated zoomIn">
                        <h4 class="text-center"><%= partner.name %></h4>
                        <img id="partnerimage" src="<%= partner.image %>">
                        <p class="partner-text"><%= partner.voordeel %></p>
                        <a class="btn btn-sm btn-warning partner-text" href="/partners/<%= partner._id %>/edit">edit</a>
                        <form class="delete-form" method="POST" action="/partners/<%= partner._id %>?_method=DELETE" >
                            <input type="Submit" class="btn btn-sm btn-danger" value="Delete">
                        </form>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

<% include ./partials/footer.ejs %>