<% include ./partials/header.ejs %>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 ><%= partner.name %></h4>
                <img class="img partnerimage" src="<%= partner.image %>">
                <p ><strong>voordeel:</strong> <%= partner.voordeel %></p>
                <p ><strong>voorstuk:</strong> <%= partner.codes.voorstuk %></p>
                <p ><strong>codes:</strong> <%= partner.codes.voorstuk %></p>
                
                <a class="btn btn-sm btn-warning btnWrapper" href="/partners/<%= partner._id %>/edit">edit</a>
                
                <form class="btnWrapper" method="POST" action="/partners/<%= partner._id %>/addcodes?_method=PUT" >
                    <input type="Submit" class="btn btn-sm btn-info" value="Add" onclick="return confirm('Are you sure you want to make extra codes')">
                    <input class="smallInput" type="text" name="aantalCodes" placeholder="#codes">
                </form>
                
                <form class="btnWrapper" method="POST" action="/partners/<%= partner._id %>?_method=DELETE" >
                    <input type="Submit" class="btn btn-sm btn-danger" value="Delete" onclick="return confirm('Partner verwijderen?')">
                </form>
                
            </div>
             <div class="col-md-2">          
                <table class="table">
                    <thead>
                        <tr><th><strong>Ongeclaimde codes</strong></th></tr>
                    </thead>
                    <tbody>
                        <% partner.codes.ongeclaimd.forEach(function(ongeclaimd){  %>
                        <tr>
                            <td><%= ongeclaimd %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>   
            </div>
            
            <div class="col-md-2">          
                <table class="table">
                    <thead>
                        <tr><th><strong>Geclaimde codes</strong></tr></th>
                    </thead>
                    <tbody>
                        <% partner.codes.geclaimd.forEach(function(ongeclaimd){  %>
                        <tr>
                            <td><%= ongeclaimd %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>     
            </div>
            
            <div class="col-md-4">          
                <table class="table">
                    <thead>
                        <tr>
                            <th><strong>Total likes</strong></th>
                            <th><strong>Total volgers</strong></th>
                            <th><strong>Berijkequivalent</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           <td><%= berijk.totalLikes %></td>
                           <td><%= berijk.totalFollowers %></td>
                           <td><%= berijk.berijkEquivalent %></td>
                    </tbody>
                </table>
            </div>
        </div> 
        
        <!-- Pictures of the posts -->
        <header class="jumbotron">
             <h2>Alle gemaakte posts</h2>
        </header>
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% partner.posts.forEach(function(post){ %>
                <% if(post.image){ %>
                    <div class="col-md-4">
                        <div class="thumbnail">
                           <a href="<%= post.link %>"><img src="<%= post.image %>"></a>
                        </div>
                    </div>
                    <% } %>
            <% }); %>
        </div>
        
    </div>

<% include ./partials/footer.ejs %>