<% include ./partials/header.ejs %>

    <div class="container">
       <div class="row" style="display:flex; flex-wrap: wrap;">
            <% partners.forEach(function(partner){ %>
                <div class="col-md-4 col-sm-6">
                    <div id="partner-thumbnail" class="thumbnail animated zoomIn">
                        <h4 class="text-center"><%= partner.name %></h4>
                        <a href="/partners/<%= partner._id %>"><img id="partnerimage" src="<%= partner.image %>"></a>
                        <p class="partner-text"><strong>voordeel:</strong> <%= partner.voordeel %></p>
                        
                        <p class="partner-text"><strong>Geclaimde codes:</strong> <%= partner.codes.geclaimd.length %></p>
                        
                        <form class="partner-text" method="POST" action="/partners/<%= partner._id %>/status?_method=PUT">
                            <div class="form-check form-check-inline">
                                <% if(partner.status === true){ %> 
                                    <input type="Submit" class="btn btn-sm btn-success" value="ACTIEF" name="status">
                                <% }else{ %>
                                    <input type="Submit" class="btn btn-sm btn-danger" value="NIET ACTIEF" name="status">
                                <% } %>
                            </div>
                        </form>
                        
                        <!--
                        <p class="partner-text"><strong>voorstuk:</strong> <%= partner.codes.voorstuk %></p>
                        
                        
                        
                        <a class="btn btn-sm btn-warning partner-text" href="/partners/<%= partner._id %>/edit">edit</a>
                        
                        <form class="inline-form" method="POST" action="/partners/<%= partner._id %>/addcodes?_method=PUT" >
                            <input type="Submit" class="btn btn-sm btn-info" value="Add">
                            <input class="smallInput"type="text" name="aantalCodes" placeholder="#codes">
                        </form>
                        
                        <form class="inline-form" method="POST" action="/partners/<%= partner._id %>?_method=DELETE" >
                            <input type="Submit" class="btn btn-sm btn-danger" value="Delete">
                        </form>
                        
                        -->
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

<% include ./partials/footer.ejs %>