<% include ./partials/header.ejs %>

    <div class="container-fluid">
       <!-- ITERATE OVER PARTNERS -->
       <% partners.slice().reverse().forEach(function(partner){ %>      <!-- displays list backwards -->
            <h2 class="animated slideInUp"><%= partner.name %></h2>
            <div class="thumbnail animated slideInUp">
                <table class="table table">
                    <thead>
                        <tr>
                            <th>username</th>
                            <th>post voor</th>
                            <th>tijdstip</th>
                            <th>email</th>
                            <th>link</th>
                            <th>gekozen voordeel</th>
                            <th>Code</th>
                            <th>likes</th>
                            <th>followers</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <input type="checkbox" id="optiontoggle"> status/delete
                        <% partner.posts.forEach(function(post){ %>
                            <tr <% if(post.status){ %> class="statusgoed resultContainer" <% }else{ %> class="statusslecht resultContainer" <% } %>>
                                <td><a href="https://www.instagram.com/<%= post.instaname %>">@<%= post.instaname %></td></a>
                                <td><%= post.partner %></td>
                                <td><%= post.tijdstip %></td>
                                <td><%= post.email %></td>
                                <td class="partnertlink postlinkwidth"><a target="_blank" href="<%= post.link %>"><%= post.link %></a></td>
                                <td><%= post.voordeel %></td>
                                <td><%= post.code %></td>
                                
                                <td>
                                    <form class="btnWrapper " method="POST" action="/posts/<%= post._id %>/likes?_method=PUT" >
                                        <input class="smaillInput2" type="text" name="likes" value="<%= post.likes %>">
                                    </form>
                                </td>
                                
                                <td>
                                    <form class="btnWrapper " method="POST" action="/posts/<%= post._id %>/followers?_method=PUT" >
                                        <input class="smaillInput2" type="text" name="followers" value="<%= post.followers %>">
                                    </form>
                                </td>
                                
                                <td class="buttons">
                                    <form method="POST" action="/posts/<%= post._id %>/status?_method=PUT" >
                                        <input <% if(post.status){ %>disabled <% } %> type="Submit" class="viewThisResult btn btn-xs btn-warning buttonmargin" value="Mail" onclick="return confirm('Code verzenden?')">
                                    </form>
                                    <form class="delete-form" method="POST" action="/posts/<%= post._id %>?_method=DELETE" >
                                        <input type="Submit" onclick="return confirm('Are you sure you want to delete this item?')" class="viewThisResult btn btn-xs btn-danger" value="Delete">
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        <% }) %>
    </div>

<% include ./partials/footer.ejs %>