<% include ./partials/header.ejs %>

    <div class="container-fluid">
        <!-- ITERATE OVER PARTNERS -->
        <h2>Boogo</h2>
        <div class="thumbnail">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>username</th>
                        <th>tijdstip</th>
                        <th>email</th>
                        <th>link</th>
                        <th>voordeel</th>
                    </tr>
                </thead>
                <tbody>
                    <% posts.forEach(function(post){ %>
                        <tr>
                            <td><%= post.instaname %></td>
                            <td><%= post.tijdstip %></td>
                            <td><%= post.email %></td>
                            <td class="partnertlink"><%= post.link %></td>
                            <td><%= post.voordeel %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

<% include ./partials/footer.ejs %>